Options +FollowSymLinks
RewriteEngine on
RewriteBase /

php_value include_path ".;E:\source_code\ava\phpsrc\source\"
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

